<section class="catalogo">
    <header class="barradetarefas">
        <h2>Catálogo</h2>
        <button class="btn sopromo"
        [class.ativo]="apenasPromo()"
        (click)="alternarPromo()">
        @if (apenasPromo()) {
            Mostrar Todos
        }
        @else {
            Promoções
        }</button>
    </header>
    @if (produtosExibidos().length == 0) {
        <p class="vazio">Nenhum produto encontrado</p>
    }
    @else {
        <div class="grid">
            @for(prod of produtosExibidos(); track prod.id){
                <app-card-produto
                    [produto]="prod"
                    (add)="onAddProduct($event)"
                    (view)="onViewProduct($event)">
                </app-card-produto>
            }
        </div>
    }
</section>
